[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
mysqlclient = "*"
django-simple-captcha = "*"
django-crispy-forms = "*"
"django-bootstrap4" = "*"
django-mapbox-location-field = "*"
python-redmine = "*"

[requires]
python_version = "3.7"
