{% comment %}
# Subject to the terms of the GNU AFFERO GENERAL PUBLIC LICENSE, v. 3.0. If a copy of the AGPL was not
# distributed with this file, You can obtain one at http://www.gnu.org/licenses/agpl.txt
#
# Author: Davide Galletti                davide   ( at )   c4k.it
{% endcomment %}
<p>Gentile {{ notifica.segnalazione.nome }} {{ notifica.segnalazione.cognome }},</p>
<p></p>
<p>La segnalazione inviata al comune di Calci (PI) è stata aggiornata:</p>
<p></p>
<p>{{ notifica.testo_da_inviare }}</p>
<p></p>
<p>Puoi rileggere la segnalazione completa con tutti gli aggiornamenti
    <a href="{{ http_host }}{% url "v" segnalazione.id segnalazione.token_validazione %}">facendo clic qui</a>.</p>
<p></p>
<p>Cordiali saluti</p>
