{% comment %}
# Subject to the terms of the GNU AFFERO GENERAL PUBLIC LICENSE, v. 3.0. If a copy of the AGPL was not
# distributed with this file, You can obtain one at http://www.gnu.org/licenses/agpl.txt
#
# Author: Davide Galletti                davide   ( at )   c4k.it
{% endcomment %}
<p>Gentile {{ segnalazione.nome }} {{ segnalazione.cognome }},</p>
<p></p>
<p>hai inviato una segnalazione al Comune di Calci (PI) con questo indirizzo di e-mail.</p>
<p>Se non hai fatto tu la segnalazione ignora questo messaggio.</p>
<p></p>
<p>Per registrare la segnalazione conferma il tuo indirizzo di e-mail usando il seguente collegamento:</p>
<p></p>
<p><a href="{{ http_host }}{% url "v" segnalazione.id segnalazione.token_validazione %}">Fai clic qui per registrare la segnalazione</a></p>
<p></p>
<p>Ti ricordiamo che potrai seguire l'iter della segnalazioni utilizzando lo stesso link.</p>
<p></p>
<p>Grazie!</p>