.body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    padding: 20px;
    border-top: 3px solid #0088cc;
    background-color: #f4f6f7;
}
.container {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.05);
}

.display-5 {
    margin-top: 25px;
}

.responsive {
  width: 100%;
  height: auto;
}

.small, small {
    font-size: 150%;
    font-weight: 400;
}