{% extends "segnala/core.html" %}
{% load bootstrap4 %}
{% block content %}
    <h2 align="center" class="display-5">Grazie!</h2>
    <script>
        var timer = setTimeout(function() {
            window.location='https://segnala.comune.calci.pi.it'
        }, 10000);
    </script>

{% endblock %}
{% comment %}
# Subject to the terms of the GNU AFFERO GENERAL PUBLIC LICENSE, v. 3.0. If a copy of the AGPL was not
# distributed with this file, You can obtain one at http://www.gnu.org/licenses/agpl.txt
#
# Author: Davide Galletti                davide   ( at )   c4k.it
{% endcomment %}
